.navigation.col-lg-12{
  margin-top:10px;

}
.jumbotron{
  padding:40x;
  border-radius: 10px;
  box-shadow: 2px 2px 1p #eee;
  background: red;

}
.btn-space1 {
  margin-left: 30px;
}

.btn-space {
  margin-left: 10px;
}

.navbar-default .navbar-nav>li>a:Hover{
  border-bottom: 3px solid orange;
}

.navbar-default .navbar-nav>li>a{
  border-bottom: 3px solid transparent;
}

.image_for_edit{
  width: 100px;
}




